Checks: >
  clang-analyzer-*,
  bugprone-*,
  modernize-*,
  performance-*,
  readability-*,
  cppcoreguidelines-*,
  -modernize-use-trailing-return-type,
  -cppcoreguidelines-avoid-magic-numbers,
  -readability-magic-numbers,
  -cppcoreguidelines-owning-memory,
  -cppcoreguidelines-pro-type-member-init,
  -cppcoreguidelines-avoid-non-const-global-variables,
  -readability-static-accessed-пthrough-instance,
  -modernize-use-nodiscard,
  -readability-convert-member-functions-to-static

WarningsAsErrors: ''

HeaderFilterRegex: '.*hse-project-2026-Chronos/.*'

CheckOptions:
  - key: modernize-use-nullptr.NullMacros
    value: 'NULL'
  - key: readability-function-size.LineThreshold
    value: 150
  - key: readability-identifier-naming.VariableCase
    value: lower_case
