BasedOnStyle: LLVM

IndentWidth: 4
TabWidth: 4
UseTab: Never


ColumnLimit: 100

BreakBeforeBraces: Attach
BraceWrapping:
  AfterClass: false
  AfterControlStatement: false
  AfterFunction: false
  AfterNamespace: false

AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: false

IndentCaseLabels: true

SpaceBeforeParens: ControlStatements
SpacesInAngles: false
SpaceAfterCStyleCast: true

AlignOperands: true
AlignTrailingComments: true

DerivePointerAlignment: false
PointerAlignment: Left

SortIncludes: true
IncludeBlocks: Regroup

BreakConstructorInitializers: BeforeComma
ConstructorInitializerIndentWidth: 4

ReflowComments: true
