name: Code Quality (Lint)

on:
  push:
    branches: ["**"]
  pull_request:
    branches: ["**"]

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4

      - name: Install LLVM and Clang Tools
        run: |
          sudo apt-get update
          sudo apt-get install -y clang-format clang-tidy cmake

      - name: Generate Compilation Database
        run: cmake -S . -B build -DCMAKE_EXPORT_COMPILE_COMMANDS=ON

      - name: Run Clang-Format Check
        run: find . -name "*.cpp" -o -name "*.hpp" | xargs clang-format --style=file --dry-run -Werror

      - name: Run Clang-Tidy
        run: clang-tidy -p build/ src/*.cpp --warnings-as-errors='*'